/* GLOBAL */
body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #0d1117;
    color: #e5e5e5;
}

/* HEADER */
.header {
    background: #161b22;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #58a6ff;
    border-bottom: 1px solid #21262d;
}

/* STAT CARDS */
.stats-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.stat-card {
    background: #161b22;
    padding: 20px 40px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #21262d;
    width: 250px;
    transition: 0.3s;
}

.stat-card:hover {
    transform: translateY(-5px);
    background: #1c2128;
}

.stat-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #8b949e;
}

.stat-card p {
    font-size: 28px;
    font-weight: bold;
    color: #58a6ff;
}

/* CONTENT AREA */
.content-area {
    padding: 20px;
}

/* TABLE CARDS */
.table-card {
    background: #161b22;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #21262d;
}

.table-card h2 {
    margin-bottom: 15px;
    color: #58a6ff;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    background: #21262d;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #21262d;
}

table tr:hover {
    background: #1c2229;
}

/* LABEL COLORS */
.label-legit {
    color: #2ecc71;
    font-weight: bold;
}

.label-fraud {
    color: #ff4d4d;
    font-weight: bold;
}
